:local {
  .event {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    display: table;


  }
  .suggestion {
   &.-highlighted {
    background: lightgrey;
   }
  }
}
