.groupTracks {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.search {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.searchInput {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background: #353535;
  font-size: .9rem;
  font-family: inherit;
  z-index: 500000;
  color: white;
  -webkit-appearance: none;
}
.-sticky {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.searchInput:focus {
  outline: none;
}
.groupTracks > * {
  width: 6rem;
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.trackGroupHeader {
  padding: .3rem .5rem;
  color: white;
  font-weight: 600;
  background: grey;
  cursor: pointer;
  display: flex;
  user-select: none;
}
.trackGroupCount {
  flex-grow: 1;
}
.trackGroupHeader.-hidden {
  opacity: 0.5;
}

.innerprogress {
  background: #222 !important;
}
.progress *:not(.innerprogress) {
  background-color: #898989;
  background-image: none;
}
.innerknob {
  background: white !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.multiselectOptions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background: #666;
  animation-name: slideUp;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.trackGroupStart {
  background: transparent;
  text-align: right;
  -webkit-appearance: none;
  border: none;
  width: 5em;
  color: white;
  font-weight: 600;
}
.trackGroupStart:focus {
  outline: none;
}
.trackGroupLooping {
  margin-left: 1rem;
  opacity: .2;
}
.trackGroupLooping.-looping {
  opacity: 1;
}
.randomise {
  width: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1rem;
  cursor: pointer;
}
.randomise .button {
  background: rgba(0, 0, 0, 0.1);
  padding: .3rem .8rem;
  user-select: none;
  border-radius: .4rem;
  margin-top: 1rem;
  color: white;
  font-weight: 600;
}
.randomise .button:active {
  background: rgba(0, 0, 0, 0.2);
}
.randomise .min, .randomise .max {
  font-size: 0.71rem;
  color: white;text-align: left;
  align-self: flex-start;
  padding-left: 1rem;
  text-transform: uppercase;
}
.randomise .slider {
  width: 100%;
}
.randomise .text {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
}